@import "tailwindcss";



/* --- Roboto Variable Font --- */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto/Roboto-VariableFont_wdth\,wght.ttf') format('ttf'); /* Pfad zur variablen Font-Datei */
  font-weight: 100 900; /* Definiert den Bereich der verfügbaren Gewichte (z.B. von Thin bis Black) */
  font-style: normal;  /* Für aufrechte Schnitte */
  /* Wenn die Variable Font auch kursive Stile enthält und du sie als eine einzige Datei nutzen möchtest: */
  /* font-style: normal italic; */
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins/Poppins-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf') format('ttf');
    font-weight: 500; /* Beispiel: Poppins SemiBold */
    font-style: normal;
    font-display: swap;
}

.font-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; /* Beispiel: Poppins Bold */
}

.font-subheading {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; /* Beispiel: Poppins SemiBold */
}

.font-body-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* Beispiel: Roboto Light */
}